* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    background-color: orange;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

#rectangle {
    width: 50%;
    height: 30%;
    position: absolute;
    background-color: yellow;
    
}